* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font: 16px sans-serif;
    list-style: none;
    text-decoration: none;
    transition: 0.2s ease;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
    background-color: #f8f8f8;
}
body::-webkit-scrollbar {
    display: none;
}

.error {
    width: 100%;
    position: absolute;
    top: 70px;
    z-index: 2;
}

.error .errorBox {
    margin: 0 auto;
    width: 300px;
    height: auto;
    background-color: #e25656;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.error .errorBox .container {
    padding: 10px 20px;
}

.error .errorBox h1 {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}
header .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .logoArea img {
    width: 60px;
}

header .logoArea img:hover {
    opacity: 80%;
}

header .logoArea .siteName {
    display: none;
}

header .logoArea .siteName h1 {
    font-size: 28px;
    color: black;
    font-weight: bold;
    line-height: 60px;
}

header .logoArea .siteName h1 .highlight {
    color: orange;
    font-size: 28px;
    font-weight: bold;
}

header .navBar ul li {
    display: inline-block;
    margin: 0 5px;
}

header .navBar ul li a {
    color: black;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

header .navBar ul li a.active {
    color: orange;
}

header .navBar ul li a:hover {
    color: rgb(99, 202, 159);
}

header .menuArea {
    display: none;
}

header .menuArea .menuBtn {
    font-size: 30px;
    cursor: pointer;
    line-height: 60px;
}
main {
    height: 750px;
    display: flex;
    background: url("../img/bg.png");
    background-size: cover;
    background-position: center;
}
main .notFound {
    margin: auto;
    text-align: center;
}
main .notFound h1 {
    font-size: 150px;
    font-weight: bold;
}

footer {
    width: 100%;
    height: auto;
    background-color: #1f2024;
}

footer .navBar {
    padding: 20px 0 10px 0;
    text-align: center;
}

footer .navBar li {
    display: inline-block;
    margin: 0 10px;
}

footer .navBar li a {
    color: white;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

footer .navBar li a:hover {
    color: #0ee6af;
}

footer .textArea {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0 30px 0;
}

footer .textArea h1 {
    color: white;
    margin: 5px 15px;
}

footer .textArea .red {
    color: red;
}

footer .textArea .colored {
    color: #0ee6af;
}

@media screen and (max-width: 1120px) {
    header .menuArea {
        display: block;
    }

    header .logoArea .image {
        display: none;
    }

    header .logoArea .siteName {
        display: block;
        width: 220px;
    }

    header .navBar {
        width: 100%;
        background-color: #1f2024;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
    }

    header .navBar.open {
        visibility: visible;
    }

    header .navBar ul {
        padding: 0 30px;
    }

    header .navBar ul li {
        display: block;
        margin: 15px 0;
    }
    header .navBar ul li a {
        color: white;
    }
}
