* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font: 16px sans-serif;
  list-style: none;
  text-decoration: none;
  transition: 0.2s ease;
}

body {
  background-color: #f8f8f8;
}

.container {
  width: 90%;
  margin: auto;
}

/*header*/
.header {
  position: relative;
  width: 100%;
  height: 60px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.301);
  z-index: 1;
}

.header .container {
  width: 100%;
  max-width: 93%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header .menuArea {
  display: none;
}

.header .menuArea .menuBtn {
  font-size: 30px;
  cursor: pointer;
  line-height: 60px;
}

.header .logoArea a.image {
  margin: auto;
}

.header .logoArea a.image img {
  width: 55px;
}

.header .logoArea a.image img:hover {
  opacity: 80%;
}

.header .logoArea a.text {
  display: none;
}

.header .logoArea a.text h1 {
  font-size: 28px;
  color: black;
  font-weight: bold;
  line-height: 60px;
}

.header .logoArea a.text h1 .highlight {
  color: orange;
  font-size: 28px;
  font-weight: bold;
}

.header .navBar ul li {
  display: inline-block;
  margin: 0 5px;
}

.header .navBar ul li a {
  color: black;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.header .navBar ul li a.active {
  color: orange;
}

.header .navBar ul li a:hover {
  color: rgb(99, 202, 159);
}




#main {
  width: 100%;
  height: auto;
  padding-top: 40px;
  background: url("../img/bg.png");
  background-position: top;
  background-size: 600px;
}

#main .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#main .post-container {
  width: 85%;
  margin: auto;
}

#main .blogArea {
  width: 72%;
  height: auto;
  margin-bottom: 20px;
}

#main .blogArea .blog {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
}

#main .blogArea .row1 img {
  width: 30%;
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
}

#main .blogArea .row1 h1 {
  width: 68%;
  font-size: 20px;
}

#main .blogArea .row2 h1 {
  font-size: 20px;
}







#main .asideArea {
  width: 26%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#main .asideArea .box {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}

#main .asideArea .box h1 {
  color: #75dab0;
  border-bottom: 3px solid #e4e4e4;
  font-size: 22px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin: 10px 0;
}

#main .asideArea .box .post {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}




#main .asideArea .socialMedia .post {
  display: block;
}

#main .asideArea .socialMedia .post a {
  display: inline-block;
  width: 45px;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  color: white;
  margin-bottom: 5px;
}

#main .asideArea .socialMedia .post a i {
  line-height: 40px;
  font-size: 20px;
}

#main .asideArea .socialMedia .post a:hover {
  opacity: 80%;
}

#main .asideArea .socialMedia .post a:nth-child(1) {
  background-color: #3b5999;
}

#main .asideArea .socialMedia .post a:nth-child(2) {
  background-color: #e4405f;
}

#main .asideArea .socialMedia .post a:nth-child(3) {
  background-color: #55acee;
}

#main .asideArea .socialMedia .post a:nth-child(4) {
  background-color: #dd4b39;
}

#main .asideArea .socialMedia .post a:nth-child(5) {
  background-color: #171515;
}



#main .asideArea .searchBox .post input {
  width: 70%;
  height: 30px;
  border-radius: 5px 0 0 5px;
  border: 2px solid #e0e0e0;
  color: rgb(118, 118, 122);
  font-size: 14px;
  padding: 0px 5px;
}

#main .asideArea .searchBox .post a {
  display: block;
  width: 30%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  background-color: #75dab0;
  color: white;
}

#main .asideArea .searchBox .post a:hover {
  background-color: #1f2024;
}




#main .asideArea .popularPost .post img {
  width: 40%;
  border-radius: 6px;
}

#main .asideArea .popularPost .post img:hover {
  opacity: 80%;
}

#main .asideArea .popularPost .post h2 {
  width: 58%;
}

#main .asideArea .popularPost .post h2 a {
  color: black;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

#main .asideArea .popularPost .post h2 a:hover {
  color: #75dab0;
}




#main .asideArea .aboutMe .post img {
  width: 25%;
  border-radius: 6px;
}

#main .asideArea .aboutMe .post img:hover {
  opacity: 80%;
}

#main .asideArea .aboutMe .post .textArea {
  width: 73%;
}

#main .asideArea .aboutMe .post h2 a {
  margin-bottom: 10px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

#main .asideArea .aboutMe .post h2 a:hover {
  color: #75dab0;
}





#footer {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background-color: #1f2024;
}

#footer .navBar {
  padding: 20px 0 10px 0;
  text-align: center;
}

#footer .navBar li {
  display: inline-block;
  margin: 0 10px;
}

#footer .navBar li a {
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

#footer .navBar li a:hover {
  color: #0ee6af;
}

#footer .textArea {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0 30px 0;
}

#footer .textArea h1 {
  color: white;
  margin: 5px 15px;
}

#footer .textArea .red {
  color: red;
}

#footer .textArea .colored {
  color: #0ee6af;
}

@media screen and (max-width: 1120px) {
  .header {
    background-color: white;
    position: relative;
  }

  .header .container {
    width: 100%;
    max-width: 100%;
  }

  .header .menuArea {
    display: block;
    margin-left: 30px;
  }

  .header .logoArea {
    margin-right: 30px;
  }

  .header .logoArea a.image {
    display: none;
  }

  .header .logoArea a.text {
    display: block;
  }

  .header .navBar {
    width: 100%;
    background-color: #1f2024;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
  }

  .header .navBar.open {
    visibility: visible;
  }

  .header .navBar ul {
    padding: 0 30px;
  }

  .header .navBar ul li {
    display: block;
    margin: 15px 0;
  }

  .header .navBar ul li a {
    color: white;
  }

  #main .container {
    width: 95%;
  }
  
  #main .blogArea .row1 h1 {
    width: 68%;
    font-size: 18px;
  }
  
  #main .blogArea .row2 h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  #main .container {
    flex-direction: column;
  }

  #main .blogArea {
    width: 100%;
  }

  #main .asideArea {
    width: 100%;
  }

  #main .asideArea .aboutMe .post img {
    width: 20%;
  }

  #main .asideArea .aboutMe .post .textArea {
    width: 78%;
  }

  #main .asideArea .popularPost .post img {
    width: 30%;
  }

  #main .asideArea .popularPost .post h2 {
    width: 68%;
  }
}

@media screen and (max-width: 620px) {
  #main .blogArea .blog {
    display: block;
    text-align: center;
  }
  #main .blogArea .row1 img {
    width: 60%;
    margin-bottom: 20px;
  }
  
  #main .blogArea .row1 h1 {
    width: 100%;
    margin-bottom: 20px;
  }

  #footer .textArea {
    display: block;
  }
}