* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font: 16px sans-serif;
    list-style: none;
    text-decoration: none;
    transition: 0.2s ease;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
    background-color: #f8f8f8;
}
body::-webkit-scrollbar {
    display: none;
}

.error {
    width: 100%;
    position: absolute;
    top: 70px;
    z-index: 2;
}

.error .errorBox {
    margin: 0 auto;
    width: 300px;
    height: auto;
    background-color: #e25656;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.error .errorBox .container {
    padding: 10px 20px;
}

.error .errorBox h1 {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}
header .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .logoArea img {
    width: 60px;
}

header .logoArea img:hover {
    opacity: 80%;
}

header .logoArea .siteName {
    display: none;
}

header .logoArea .siteName h1 {
    font-size: 28px;
    color: black;
    font-weight: bold;
    line-height: 60px;
}

header .logoArea .siteName h1 .highlight {
    color: orange;
    font-size: 28px;
    font-weight: bold;
}

header .navBar ul li {
    display: inline-block;
    margin: 0 5px;
}

header .navBar ul li a {
    color: black;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

header .navBar ul li a.active {
    color: orange;
}

header .navBar ul li a:hover {
    color: rgb(99, 202, 159);
}

header .menuArea {
    display: none;
}

header .menuArea .menuBtn {
    font-size: 30px;
    cursor: pointer;
    line-height: 60px;
}

main {
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: auto;
    margin: 40px 0;
    background: url("../img/bg.png");
    background-size: 30%;
    background-position: center;
}

main .main-container {
    width: 95%;
    margin: auto;
    display: grid;
    align-items: start;
    grid-template-columns: 20% 75%;
    column-gap: 5%;
}
main hr {
    border: 2px solid #e0e0e0;
    margin-bottom: 10px;
}

.sideBar {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}
.sideBar-container {
    padding: 20px;
    text-align: center;
}
.sideBar img {
    width: 80%;
    border-radius: 50%;
}
.sideBar h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.sideBar h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

section .myGamesArea {
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    margin-bottom: 20px;
}
section .myGamesArea h1 {
    color: #75dab0;
    font-size: 22px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
section .myGamesArea .postContainer {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    column-gap: 2.5%;
}
section .myGamesArea .post {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}
section .myGamesArea .post img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
section .myGamesArea .post img:hover {
    opacity: 80%;
}

section .myGamesArea .post a {
    transition: 0.1s ease;
    color: black;
    cursor: pointer;
}
section .myGamesArea .post a:hover {
    transition: 0.1s ease;
    color: #75dab0;
}
section .myGamesArea .post a h2 {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin: 10px 20px;
}

section .settingsArea {
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}

section .settingsArea h1 {
    color: #75dab0;
    font-size: 22px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

section .settingsArea .settings {
    width: 50%;
    text-align: center;
}
section .settingsArea .row {
    display: grid;
    grid-template-columns: auto 70%;
    column-gap: 3%;
    margin-bottom: 10px;
}
section .settingsArea .row h2 {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: end;
}
section .settingsArea .row .validation {
    color: red;
}
section .settingsArea .row input {
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 6px;
}

section .settingsArea .row textarea {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    resize: none;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 6px;
}

section .settingsArea .submitBtn {
    width: 50%;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
section .settingsArea .submitBtn:hover {
    background-color: black;
}
footer {
    width: 100%;
    height: auto;
    background-color: #1f2024;
}

footer .navBar {
    padding: 20px 0 10px 0;
    text-align: center;
}

footer .navBar li {
    display: inline-block;
    margin: 0 10px;
}

footer .navBar li a {
    color: white;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

footer .navBar li a:hover {
    color: #0ee6af;
}

footer .textArea {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0 30px 0;
}

footer .textArea h1 {
    color: white;
    margin: 5px 15px;
}

footer .textArea .red {
    color: red;
}

footer .textArea .colored {
    color: #0ee6af;
}

@media screen and (max-width: 1120px) {
    header .menuArea {
        display: block;
    }

    header .logoArea .image {
        display: none;
    }

    header .logoArea .siteName {
        display: block;
        width: 220px;
    }

    header .navBar {
        width: 100%;
        background-color: #1f2024;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
    }

    header .navBar.open {
        visibility: visible;
    }

    header .navBar ul {
        padding: 0 30px;
    }

    header .navBar ul li {
        display: block;
        margin: 15px 0;
    }
    header .navBar ul li a {
        color: white;
    }
    section .myGamesArea .postContainer {
        grid-template-columns: 24% 24% 24% 24%;
        column-gap: 1.3%;
    }
}

@media screen and (max-width: 768px) {
    main .main-container {
        width: 90%;
        grid-template-columns: 100%;
    }
    .sideBar {
        height: auto;
        margin-bottom: 20px;
    }
    .sideBar img {
        width: 50%;
        border-radius: 50%;
    }
    section .myGamesArea .postContainer {
        grid-template-columns: 32% 32% 32%;
        column-gap: 2%;
    }
    section .settingsArea .settings {
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    section .myGamesArea .postContainer {
        grid-template-columns: 48% 48%;
        column-gap: 4%;
    }
}
