* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font: 16px sans-serif;
    list-style: none;
    text-decoration: none;
    transition: 0.2s ease;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
    background-color: #f8f8f8;
}
body::-webkit-scrollbar {
    display: none;
}

.error {
    width: 100%;
    position: absolute;
    top: 70px;
    z-index: 2;
}

.error .errorBox {
    margin: 0 auto;
    width: 300px;
    height: auto;
    background-color: #e25656;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.error .errorBox .container {
    padding: 10px 20px;
}

.error .errorBox h1 {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}
header .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .logoArea img {
    width: 60px;
}

header .logoArea img:hover {
    opacity: 80%;
}

header .logoArea .siteName {
    display: none;
}

header .logoArea .siteName h1 {
    font-size: 28px;
    color: black;
    font-weight: bold;
    line-height: 60px;
}

header .logoArea .siteName h1 .highlight {
    color: orange;
    font-size: 28px;
    font-weight: bold;
}

header .navBar ul li {
    display: inline-block;
    margin: 0 5px;
}

header .navBar ul li a {
    color: black;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

header .navBar ul li a.active {
    color: orange;
}

header .navBar ul li a:hover {
    color: rgb(99, 202, 159);
}

header .menuArea {
    display: none;
}

header .menuArea .menuBtn {
    font-size: 30px;
    cursor: pointer;
    line-height: 60px;
}

#hero-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../img/banner1.jpg");
    background-size: cover;
    background-position: center;
}

#hero-banner .textArea {
    text-align: center;
    padding-top: 200px;
}

#hero-banner .textArea h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

#hero-banner .textArea h1 .highlight {
    color: orange;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

#hero-banner .textArea p {
    color: white;
    font-size: 20px;
    width: 50%;
    margin: auto;
    text-shadow: 2px 2px 2px black;
}

#hero-banner .textArea .btn {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: rgb(99, 202, 159);
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#hero-banner .textArea .btn:hover {
    background-color: #1f2024;
}

main {
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: auto;
    margin-top: 40px;
}

main .main-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 25%;
    column-gap: 5%;
}

section .noGames h2 {
    font-weight: bold;
    font-size: 30px;
    font-family: "Open Sans" sans-serif;
}

section .article-area {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
}

section .buttonArea {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

section .buttonArea .btn {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(99, 202, 159);
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

section .buttonArea .btn:hover {
    background-color: #1f2024;
}

article {
    height: auto;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}

article .article-container {
    width: 90%;
    margin: auto;
    padding: 8px 0;
}

article img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

article img:hover {
    opacity: 90%;
}

article h1 {
    color: black;
}

article hr {
    border: 2px solid #e0e0e0;
    margin-bottom: 4px;
}

article h1 a {
    color: black;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

article h1 a:hover {
    color: #75dab0;
}

article h2 {
    margin-bottom: 10px;
    color: #aaaaaa;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

article h2 a {
    color: #aaaaaa;
}

article h2 a:hover {
    color: #75dab0;
}

article p {
    font-size: 16px;
    color: #65656a;
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    /* TEXT LENGHT */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

aside .box {
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}
aside .box .container {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 100%;
}
aside .box h1 {
    color: #75dab0;
    font-size: 22px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

aside .socialMedia .post {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    column-gap: 1%;
}

aside .socialMedia .post a {
    text-align: center;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
}
aside hr {
    border: 2px solid #e0e0e0;
    margin-bottom: 10px;
}

aside .socialMedia .post a i {
    line-height: 40px;
    font-size: 20px;
}

aside .socialMedia .post a:hover {
    opacity: 80%;
}

aside .socialMedia .post a:nth-child(1) {
    background-color: #3b5999;
}

aside .socialMedia .post a:nth-child(2) {
    background-color: #e4405f;
}

aside .socialMedia .post a:nth-child(3) {
    background-color: #55acee;
}

aside .socialMedia .post a:nth-child(4) {
    background-color: #dd4b39;
}

aside .socialMedia .post a:nth-child(5) {
    background-color: #171515;
}

aside .searchBox .post {
    height: 35px;
    display: grid;
    grid-template-columns: 70% 30%;
}
aside .searchBox .post input {
    border-radius: 5px 0 0 5px;
    border: 2px solid #e0e0e0;
    color: rgb(118, 118, 122);
    font-size: 14px;
    padding: 0px 5px;
}

aside .searchBox .post a {
    display: block;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    background-color: #75dab0;
    color: white;
    cursor: pointer;
}

aside .searchBox .post a:hover {
    background-color: #1f2024;
}

aside .popularPost .post {
    display: grid;
    grid-template-columns: 40% 57%;
    column-gap: 3%;
    margin-bottom: 10px;
}
aside .popularPost .post img {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    cursor: pointer;
}

aside .popularPost .post img:hover {
    opacity: 80%;
}

aside .popularPost .post h2 {
    color: black;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

aside .popularPost .post h2:hover {
    color: #75dab0;
}

aside .popularPost .noGames h2 {
    font-weight: bold;
    font-size: 30px;
    font-family: "Open Sans" sans-serif;
}

aside .aboutMe .post {
    display: grid;
    grid-template-columns: 27% 70%;
    column-gap: 3%;
}
aside .aboutMe .post img {
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}

aside .aboutMe .post img:hover {
    opacity: 80%;
}

aside .aboutMe .post h2 {
    display: inline-block;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}
aside .aboutMe .post h3 {
    color: black;
    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

aside .aboutMe .post h2:hover,
aside .aboutMe .post h3:hover {
    color: #75dab0;
}

footer {
    width: 100%;
    height: auto;
    background-color: #1f2024;
}

footer .navBar {
    padding: 20px 0 10px 0;
    text-align: center;
}

footer .navBar li {
    display: inline-block;
    margin: 0 10px;
}

footer .navBar li a {
    color: white;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

footer .navBar li a:hover {
    color: #0ee6af;
}

footer .textArea {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0 30px 0;
}

footer .textArea h1 {
    color: white;
    margin: 5px 15px;
}

footer .textArea .red {
    color: red;
}

footer .textArea .colored {
    color: #0ee6af;
}

@media screen and (max-width: 1120px) {
    header .menuArea {
        display: block;
    }

    header .logoArea .image {
        display: none;
    }

    header .logoArea .siteName {
        display: block;
        width: 220px;
    }

    header .navBar {
        width: 100%;
        background-color: #1f2024;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
    }

    header .navBar.open {
        visibility: visible;
    }

    header .navBar ul {
        padding: 0 30px;
    }

    header .navBar ul li {
        display: block;
        margin: 15px 0;
    }
    header .navBar ul li a {
        color: white;
    }
    #banner {
        height: 500px;
    }

    #banner .textArea {
        padding-top: 140px;
    }

    #banner .textArea h1 {
        font-size: 44px;
    }

    #banner .textArea p {
        font-size: 16px;
        width: 60%;
    }
    main .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    #banner .textArea p {
        width: 80%;
    }
    main .main-container {
        grid-template-columns: 100%;
    }
    aside .popularPost .post {
        grid-template-columns: 30% 67%;
        column-gap: 3%;
    }
    aside .aboutMe .post {
        grid-template-columns: 20% 77%;
        column-gap: 3%;
    }
    aside .popularPost .post h2,
    aside .aboutMe .post h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 620px) {
    #banner {
        height: 450px;
    }
    section .article-area {
        grid-template-columns: 100%;
    }
}
